PORT=3001
NODE_ENV=development
STATSD_HOST=127.0.0.1
STATSD_PORT=8125
STATS_PREFIX=rceapi
CIPHER_PASSWORD=TEMP_PASSWORD
ECOSYSTEM_SECRET=astringthatisactually32byteslong
ECOSYSTEM_KEY=astringthatisactually32byteslong
FLICKR_API_KEY=fake_key
YOUTUBE_API_KEY=fake_key